<% provide(:title, "About")%>
<h1>Filmarksの楽しみ方</h1>
<p>Filmarksとは</p>
<a href="https://filmarks.zendesk.com/hc/ja/articles/115000495867-Filmarks%E3%81%A8%E3%81%AF">Filmarksとは</a>
<a href="https://filmarks.zendesk.com/hc/ja/articles/115001246628-%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6">アイコンについて</a>
<p>Filmarksのマナー</p>
<a href="https://filmarks.zendesk.com/hc/ja/articles/115009426208-%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC%E3%82%92%E6%8A%95%E7%A8%BF%E3%81%99%E3%82%8B%E5%89%8D%E3%81%AB">レビューを投稿する前に</a>