<% provide(:title, "Help") %>
<h1>Filmarks ヘルプセンター</h1>
<p>これはプログラミング学習で作成したサイトです</p>
<ul>
  <li><a href="https://filmarks.zendesk.com/hc/ja/categories/204296208-%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B">お知らせ</a></li>
  <li><a href="https://filmarks.zendesk.com/hc/ja/categories/115000080587-Filmarks%E3%81%AE%E6%A5%BD%E3%81%97%E3%81%BF%E6%96%B9">Filmarksの楽しみ方</a></li>
  <li><a href="https://filmarks.zendesk.com/hc/ja/categories/115000085648-%E5%9F%BA%E6%9C%AC%E6%93%8D%E4%BD%9C">基本的な楽しみ方</a></li>
  <li><a href="https://filmarks.zendesk.com/hc/ja/categories/201268477-%E3%82%88%E3%81%8F%E3%81%82%E3%82%8B%E8%B3%AA%E5%95%8F">よくある質問</a></li>
</ul>  