<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('https://images.pexels.com/photos/806880/pexels-photo-806880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
			<div class="cover-text text-center ">
			  <div class="display-4 font-weight-bold" style="color: orange;">
          国内最大級の映画・ドラマレビューサービス
        </div>
				<h1 style="color: sandybrown;">見たい作品がきっと見つかる</h1>
			</div>
		</div>
	</div>
</div>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<%if request.from_pc?%>
	<h1>aaa</h1>
<%else%>
	<h1>bbb</h1>
<%end%>

