<% provide(:title, "パスワード再設定") %>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card card_top">
      <div class="card-header">パスワードの再設定</div>
      <div class="card-body">
        <p class="login_title mt-5">パスワードの再設定（完了）</p>
        <p class=" text-dark" style="margin-top:5em; margin-bottom:5em;">新しいパスワードが設定されました。</p>
        <%= button_to "ログイン画面に移動する", login_path, method: :get, class: 'btn btn-secondary btn-block mb-5'%>
      </div>
    </div>
  </div>
</div>