<% provide :title, "ユーザーを探す"%>
<div class="card card_top">
  <div class="card-header text-center font-weight-bold">人気ユーザー５０人</div>
</div>
<div class="card card_top">
  <div class="card-body">
    <% @users.each_slice(2) do |left_user, right_user| %>
      <div class="row">
        <%= render partial: 'shared/user_index', locals: { user: left_user } %>
        <% unless right_user.nil?%>
          <%= render partial: 'shared/user_index', locals: { user: right_user } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>