@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* ----miscellaneous---- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body{
  padding-top: 55px;
}

section{
  overflow:auto;
}

textarea{
  resize:vertical;
}

.center {
  text-align: center;
}

/* ---- home 画像 ----*/
.cover-img {
	height: 400px;
	display: table;
	width: 100%;
	background-size: cover;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
	}
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

/*---- フッダー ----*/
footer{
  background-color: #33383c;
  padding:30px 0px;
  margin-top:30px
}	 

.footer_font{
    font-family: 'Roboto', sans-serif;
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.movie , .drama {
  span{
   color: white; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
  }
  li {
    margin:20px 0px;
    list-style: none;
    a {
      color:white;
      letter-spacing: 3px;
      text-decoration:none;
      font-size:14px;
      &:hover{
        color: #da3e44;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
    }
  }
}

/* ----プロフィール---- */
aside{
  margin-top:20px;
  float:left;
  h2{
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    span{
      margin-left:5px;
      font-size: 0.8em;
      color: gray;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.profile_edit_btn{
  float: right;
  margin-top: 20px;
  width: 70%;
  font-size: 0.8em; 
}

/* ----エラーメッセージ ---- */
#error_explanation {
  color: red;
  li {
    color: red;
    margin: 0 0 15px 0;
  }
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

/* ----登録ページ---- */

.agreement_check{
  margin-top: 45px;
  padding-top: 30px;
}

.btn_agreement{
  width: 80%;
  font-size: 0.8em; 
  margin: 1em 0 2em 3em;
}

.card_top{
  margin-top: 15px;
}

/* ----確認画面---- */
.confirm-text{
  margin-bottom:40px;
  h5{
    color: gray;
  }
  p{
    color: silver;
    font-size: 0.6em;
  }
}

.password_confirm{
  font-size: 0.9em;
}

/* ----ログインページ---- */
.login_title{
	color: #444;
	font-size: 1.4em;
	display: flex;
	align-items: center;
}

.login_title:before, .login_title:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: silver;
	display: block;
}
.login_title:before {
	margin-right: .4em;
}
.login_title:after {
	margin-left: .4em;
}
